<footer id="footer">

    <div class="container-fluid">
        
        @* <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:black">*@
                <div class="col-md-3">
                    <center>
                        <h3 style="color:black">DownLoad</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><img src="~/Footer/image/footer1.png" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Footer/image/footer.png" /></a>
                            </li>
                        </ul>
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <h3 style="color:black">Links</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/HomePage/Index" style="color:black;font-size:17px">Home</a>

                            </li>
                            <br />

                            <li>
                                <a href="/Contact/Create" style="color:black;font-size:17px">Contact Us</a>

                            </li>
                            <br />
                            <li>
                                <a href="/AboutUs/Index" style="color:black;font-size:17px">About Us</a>
                            </li>
                        </ul>
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <h3 style="color:black">Menu</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" style="color:black;font-size:17px">Privacy Policy</a>

                            </li>
                            <br />

                            <li>
                                <a href="#" style="color:black;font-size:17px">Cookie Policy</a>

                            </li>
                            <br />
                            <li>
                                <a href="#" style="color:black;font-size:17px">Terms and Conditions</a>
                            </li>
                        </ul>
                    </center>
                </div>

                <div class="col-lg-3">
                    <center>
                        <h3 style="color:black"></h3>
                        <ul class="list-unstyled">


                            <li>
                                <a href="#"><img src="~/Footer/image/facebook.png" /></a>
                                <a href="#"><img src="~/Footer/image/twiter.png" /></a>
                                <a href="#"><img src="~/Footer/image/in.png" /></a>
                                <a href="#"><img src="~/Footer/image/pinnest.png" /></a>
                                <a href="#"><img src="~/Footer/image/inst.png" /></a>

                            </li>
                            <br />
                            
                            <li>
                                <h4 style="color:black">Contact</h4>
                                <p class="text-center-justify" style="color:black">141 & 142, Love Road, Tejgaon Industrial Area Dhaka 1208 Dhaka Bangladesh</p>
                            </li>

                        </ul>
                    </center>
                </div>


            </div>



        </footer>
