@*<div class="row">
        <section style="width:100%; padding :7px">
            <img src="~/Image/customer-pair.jpg" class="img-responsive" />
        </section>
    </div>
*@



<div id="mycarousel" class="carousel slide" data-ride="carousel" style="margin-top:15px">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Image/2.png" />
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <img src="~/Image/1.jpg" />
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="~/Image/3.jpg" />
            <div class="carousel-caption">

            </div>
        </div>
        @*<div class="item">
            <img src="~/Image/4.png" />
            <div class="carousel-caption">

            </div>
        </div>*@


    </div>


    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>





<div class="row"></div>



<div class="row">
    <section>
        <div class="container" style="width:100%; padding :3px">
            <div class="row">







                <div class="col-md-6" padding :10px>
                        <center>
                            <img src="~/Image/cycle.jpg" />
                        </center>
                    </div>
                <div class="col-md-6">

                    <center>
                        <h1 style="width:100%; padding :10px">Welcome to Our Website</h1>
                        <img src="~/Image/templatemo_header_01_bg.jpg" class="img-responsive" style="padding :7px;margin-top:20px" />
                        <p  class="text-center-justify" style="padding: 7px; font-weight: 400; font-size: 20px;">
                            Let,Pizza Hut is offering 3 medium sized pizzas and mix match the combinations at 1,599 taka only which will save
                            TK.484! But what a single person would do with 3 pizzas at a time?Or sometimes people want to buy some specific
                            shade (s) from a lipstick set and rest shades of the set are those they will never use. We will make Pair Up,a
                            website based system and try to help them here.Users can find pair up partner(s) to buy things by posting
                            details.
                        </p>

                    </center>

                </div>
            </div>





        </div>
    </section>
</div>





<div class="row">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <center>
                        <h2>Our Features</h2>
                        <p class="text-center-justify"style="font-size: 17px;"><b>Our 3 Primary Features</b></p>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/chat.png" />
                        <h3>Chat</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">
                            They can chat with each other.Users can chat with each other.
                            They can communicate,interact and/or exchanging messages over the Internet.
                        </p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/post.png" />
                        <h3>Post</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">
                            Users can find pair up partner(s) to buy things by posting product
                            details.Comment option will be available under each post.
                        </p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/location.png" />
                        <h3>Find Location</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">
                            User can find location of nearby users,who want his selected product.After matching location,they can share product.
                        </p>
                    </center>
                </div>
            </div>

        </div>
    </section>
</div>

<div class="row"></div>

<div class="row">
    <section style="width:100%; padding :3px">
        <img src="~/Image/customer-pair.jpg" class="img-responsive" />
    </section>
</div>

<div class="row">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <center>
                        <h2>Our Process</h2>
                        <p><b>We have simple 3 process</b></p>
                    </center>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/sign-up.png" />
                        <h3>Sign-up</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">
                            At first Admin and Users Should logged in using valid email address.They should fill
                            up registration form to entre our website.
                        </p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/add.png" />
                        <h3>Add Products</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">
                            Their will be some products e.g. makeup,skin care,hair,clothing,toys,shoes,food etc.User can add product image file
                            to see whether one can match with their need or not.
                        </p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/Image/share.png" />
                        <h3>Share Product</h3>
                        <p class="text-center-justify"style="font-size: 17px;margin-bottom:20px">

                         User will be able to share products themselves and buy products within their means.
                        </p>
                    </center>
                </div>
            </div>

        </div>
    </section>
</div>

